body{
    margin: 0 0 0 0;
}
#top{
    background-color: #e3f2fd;
    /* padding-bottom: 2rem; */
}
.col-lg-6{
    margin: 0;
    padding: 0;
}
.main-image{
    max-width: 100%;
    float: right;
}
.heading{
    font-family: "Roboto";
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: center;
    padding-top: 5rem;
}
.navbar-brand{

    font-size: 2rem;
}
.navbar-light{
    background-color: #e3f2fd;
}
.navbar{
    padding: 1rem 0 1rem;
}

.nav-item{

    font-family: "Ubuntu";
    font-size: 1.2rem;
}

.whitespace{
    background-color: white;
}
.work{
    margin-top:3.5rem ;
    padding:5% ;
}

.what{
    color: #25D366;
}
/* form{
    display: flex;
    flex-direction: column;
    align-items: center;
} */